*{
  text-align: center;
}

div {
  display: flex;
  justify-content: center;
}


.big-and-bold {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  transition: all 3s;
}


img{
  display: none;
  width 5%;
  object-fit: contain;
  margin: 0 5%;
}

.fireworks {
  display: block;
  width: 10%;
  height: auto;
  transition: all 3s;
}
