body{
  text-align: center;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  color: #879bcd;
}

h2{
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  color: #555555;
}

p {
  font-family: 'Asap', sans-serif;
  font-weight: 400;
  color: #555555;

}

div {
  display: flex;
  justify-content: center;
}

div p {
  color: #879bcd;

}

.big-and-bold {
  font-size: 48px;
  font-weight: 700;
  color: #879bcd;
  transition: all 2s;
}


img{
  display: none;
  width 5%;
  object-fit: contain;
  margin: 0 5%;
}

.fireworks {
  display: block;
  width: 10%;
  height: auto;
  transition: all 3s;
}
